<main [style.display]="componentDisplay">
  <h1>_</h1>
  <form>
    <input
      type="text"
      class="title"
      name="title"
      placeholder="Digite o título"
    />
    <input
      type="text"
      class="description"
      name="title"
      placeholder="Adicione uma descrição (opcional)"
    />

    <div class="todoInfo">
      <div class="deadline">
        <img src="../../assets/icons/calendar.svg" alt="Calendar" />
        <input
          type="text"
          class="deadlineInput"
          name="title"
          placeholder="Inserir prazo"
        />
      </div>

      <div class="category">
        <img src="../../assets/icons/tag.svg" alt="Tag" />
        <input
          type="text"
          class="categoryInput"
          name="title"
          placeholder="Inserir categoria"
        />
      </div>

      <div class="members">
        <img src="../../assets/icons/users.svg" alt="Members" />
        <input
          type="text"
          class="membersInput"
          name="title"
          placeholder="Inserir membros"
        />
      </div>

      <div class="attachments">
        <img src="../../assets/icons/paperclip.svg" alt="attachments" />
        <input
          type="text"
          class="attachmentsInput"
          name="title"
          placeholder="Inserir anexos"
        />
      </div>

      <hr />

      <div class="subTodos">
        <div class="subTodo">
          <img src="../../assets/icons/square-blue.svg" alt="" />
          <input
            type="text"
            class="attachmentsInput"
            name="title"
            placeholder="sub-tarefa exemplo"
          />
        </div>

        <div class="subTodo">
          <img src="../../assets/icons/square-blue.svg" alt="" />
          <input
            type="text"
            class="attachmentsInput"
            name="title"
            placeholder="sub-tarefa exemplo"
          />
        </div>

        <div class="subTodo">
          <img src="../../assets/icons/square-blue.svg" alt="" />
          <input
            type="text"
            class="attachmentsInput"
            name="title"
            placeholder="sub-tarefa exemplo"
          />
        </div>

        <div class="subTodo">
          <img src="../../assets/icons/arrow-right.svg" alt="Arrow" />
          <input
            type="text"
            class="attachmentsInput addSub"
            name="title"
            placeholder="Adicionar sub-tarefas"
            disabled
          />
        </div>
      </div>
    </div>
  </form>
</main>
