<main>
  <div class="wrapper">
    <h1>Tarefas</h1>

    <h2>A FAZER</h2>
    <app-todo-item
      [title]="'Desafio de Design UX/UI'"
      [description]="'Descrição descrição'"
    ></app-todo-item>

    <h2>EM PROGRESSO</h2>
    <app-in-progress-item
      [title]="'Entrevista'"
      [description]="'Descrição descrição'"
      [progress]="54"
    ></app-in-progress-item>

    <h2>CONCLUÍDO</h2>
    <app-done-item
      [title]="'Inscrição'"
      [description]="'Descrição descrição'"
    ></app-done-item>
  </div>
  <app-nav-bar></app-nav-bar>
</main>
