main {
  position: relative;
  margin: 0 auto;
  outline: 1px solid black;
  height: 100vh;
  width: 480px;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;

  .wrapper {
    height: 100%;
    padding: 0 2rem 0;
    background-image: linear-gradient(180deg, transparent, #dce1e7);

    h1 {
      padding-top: 1rem;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 600;
    }

    h2 {
      padding-top: 1.5rem;
      color: #1a55b4;
      font-size: 1rem;
      font-weight: 600;
    }
  }
}
