.wrapper {
  width: 10rem;
  padding: 1.2rem;
  border-radius: 20px;
  margin-left: 1rem;

  & + & {
    margin-left: 1rem;
  }

  h1 {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
  }

  p {
    filter: brightness(0.8);
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 1.5rem;
    filter: brightness(0.7);
    font-weight: 600;
  }

  .progress-bar {
    height: 5px;
    border-radius: 5px;
    background-color: #fff;

    .fill {
      height: 5px;
      width: 52%;
      border-radius: 5px;
      filter: brightness(0.7);
    }
  }
}
