nav {
  width: 100%;
  max-width: 480px;
  padding-bottom: 0.5rem;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  z-index: 2;

  .rounded-circle {
    border: 0;
    outline: 0;
    background-color: #1a55b4;
    padding: 1rem;
    margin-top: -0.5rem;
  }
}
