.wrapper {
  display: flex;

  margin: 1.2rem 0;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;

  img {
    width: 28px;
    height: 28px;
    margin: 0.8rem;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .todo-title {
      color: #fff;
      margin: 0;
    }

    .description {
      filter: brightness(0.8);
      margin: 0;
      font-size: 0.8rem;
      font-weight: 600;
    }
  }
}
